.env
app/test/test_data
app/__pycache__
app/agents/__pycache__
app/utils/__pycache__
data/lancedb/docling.lance/_indices/
data/lancedb/docling.lance/_transactions/
data/lancedb/docling.lance/_versions/